*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cadastro{
    border-radius: 250px;
    /* border: solid white; */
    width: 63rem;
    height: 35rem;
    margin: 2rem 20rem;
    background-color: aqua;
    padding-top: 1rem;
}
.tittletopic{
    text-align: center;
}
.container{
    border: solid white;
    margin-left: 24rem;
    height: 5rem;
    width: 20em;
    
}
.etapa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 16rem;
}
.linha{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}
section input{
    margin: 3px;
    border-radius: 3rem;
    border: none;
}
section input :focus{
    border: none;
}
