* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: black;
}

p {
    color: white;
}

.quemSomos {
    width: 50%;
    border: solid white;
    margin: 2% 26%;
    height: 50vh;
    text-align: center;
    padding: 1rem 1rem;
    overflow: auto;
}

.quemSomos h1 {
    color: white;
    margin: 1rem;

}

.quemSomos p {
    font-size: 1.5rem;
    margin: 2rem;
}