* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: black;
}

.container {
    margin: 2% 26%;
    width: 50%;
    height: 50vh;
    border: solid 3px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.container .opcao {
    background-color: rgb(63, 75, 87);
    /* border: solid 3px white; */
    width: 24%;
    height: 8rem;
    border-radius: 40px;
    margin: 0.5rem;
    text-align: center;

}

.container .opcao :hover {
    transition: 1s ease;
    border-radius: 40px;
    background-color: antiquewhite;
}

.linhaDeOpt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vh;
    margin-bottom: 0.5rem;
    width: 100%;
}

.opcao img {
    height: 7.9rem;
    border-radius: 40px;
    width: 100%;
    transition: ease-in-out 2s;

}

.opcao p {
    color: white;
}
