* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: black;
}

.container {
    margin: 2% 15% 0;
    width: 70%;
    height: 70vh;
    border: solid 2px #ffffff30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.container .opcao {
    background-color: rgb(63, 75, 87);
    /* border: solid 3px white; */
    height: 100%;
    border-radius: 40px;
    margin: 0.5rem;
    text-align: center;
    transition: 0.04s ease;
    width: 70%;
}

.container .opcao :hover {
    border-radius: 40px;
    background-color: #ed9d07;
    width: 100%;
}

.linhaDeOpt {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50%; */
    /* margin-bottom: 0.5rem; */
    width: 100%;
    /* border: solid white; */

}

.opcao img {
    height: 7.9rem;
    border-radius: 40px;
    width: 100%;
    transition: ease-in-out 0.5s;

}
.optText{
    margin: 0.5rem 0 0.5rem 0;
    /* border: solid white; */
    color: white;
    text-align: center;
    width: 100%'';
}
.opcao-completa{
    width: 26%;
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1180px) {
    .linhaDeOpt .opcao{
        width: 100%;
        /* margin: auto 30%; */
    }
    .opcao-completa{
        margin-left: 2rem;
    }
    }
  @media (min-width: 1743px) {
    .container{
        padding: 4.5%;
    }
  }
  @media (min-width: 1927px) {
    .container{
        padding: 7%;
    }
  }
 