* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: black;
}

.container {
    margin: 2% 15%;
    width: 70%;
    height: 65vh;
    border: solid 3px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.container .opcao {
    background-color: rgb(63, 75, 87);
    /* border: solid 3px white; */
    height: 80%;
    border-radius: 40px;
    margin: 0.5rem;
    text-align: center;
    transition: 0.04s ease;
}

.container .opcao :hover {
    border-radius: 40px;
    background-color: antiquewhite;
}

.linhaDeOpt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin-bottom: 0.5rem;
    width: 100%;
    /* border: solid white; */

}

.opcao img {
    height: 7.9rem;
    border-radius: 40px;
    width: 100%;
    transition: ease-in-out 0.5s;

}

.opcao p {
    color: white;
}
.optText{
    margin: 2% 0 1% 0;
    /* border: solid white; */
    color: wheat;
    text-align: center;
}
.opcao-completa{
    width: 26%;
    /* border: solid white; */
}