<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="/public/css/menu.css">
    <link rel="stylesheet" href="/public/css/cadastro.css">
</head>

<body>
    <body>
        <header>
            <div class="logo">
                <img src="/public/image/Logo_de_Hamburgueria_Artesanal-removebg-preview.png" alt="Logo">
            </div>
            <nav class="imenu">
                <ul id="menu">
                    <li><a href="/src/views/index.html">Home</a></li>
                    <li><a href="/src/views/quemSomos.html">Quem Somos</a></li>
                    <li><a href="/src/views/peddos.html"> Pedidos</a></li>
                </ul>
            </nav>
            <div class="perfil">
                <img src="/public/image/do-utilizador (1).png" alt="" id="iperfil">
                <label for="iperfil"> <a href="/src/views/cadastro.html">Cadastre-se</a></label>
            </div>
        </header>
    <section class="cadastro">
        <div class="tittletopic">
            <h1>
                Dados Pessoais
            </h1>
        </div>
        <form action="" autocomplete="off">
            <div class="etapa">
                <div class="linha">
                    <label for="name">Nome</label>
                    <input type="text" id="name" required>
                </div>
                <div class="linha">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" id="sobrenome" required>
                </div>
                <div class="linha">
                    <label for="CPF">CPF</label>
                    <input type="text" id="CPF" required>
                </div>
            </div>
            <div class="tittletopic">
                <h1>
                    Dados De Endereço
                </h1>
            </div>
            <div class="etapa">
                <div class="linha">
                    <label for="rua">Rua</label>
                    <input type="text" id="rua" required>
                </div>
                <div class="linha">
                    <label for="bairro">Bairro</label>
                    <input type="text" id="bairro" required>
                </div>
                <div class="linha">
                    <label for="cidade">Cidade</label>
                    <input type="text" id="cidade" required>
                </div>
                <div class="linha">
                    <label for="Complemento">Complemento</label>
                    <input type="text" id="Complemento" required>
                </div>
            </div>
            <div class="tittletopic">
                <h1>
                    Dados De Contato
                </h1>
            </div>
            <div class="etapa">
                <div class="linha">
                    <label for="tel1">Telefone¹</label>
                    <input type="tel" id="tel1">
                </div>
                <div class="linha">
                    <label for="tel2">Telefone²</label>
                    <input type="tel" id="tel2">
                </div>
                <div class="linha">
                    <label for="email">Email</label>
                    <input type="email" id="email">
                </div>
                <div class="inputSubmit">
                    <input type="submit" value="Cadastrar-se" class="submit">
                </div>
            </div>


        </form>
    </section>

</body>

</html>