<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>

    <link rel="stylesheet" href="/public/css/quemSomos.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/public/image/Logo_de_Hamburgueria_Artesanal-removebg-preview.png" alt="Logo">
        </div>
        <nav class="imenu">
            <ul id="menu">
                <li><a href="/src/views/index.html">Home</a></li>
                <li><a href="/src/views/quemSomos.html">Quem Somos</a></li>
                <li><a href="#"> Pedidos</a></li>
            </ul>
        </nav>
        <div class="perfil">
            <img src="/public/image/do-utilizador (1).png" alt="" id="iperfil">
            <label for="iperfil"> <a href="/src/views/cadastro.html">Cadastre-se</a></label>
        </div>
    </header>
    <section class="quemSomos">
        <h1>Quem Somos</h1>
        <p>
            Bem-vindo à nossa casa de sabores, à nossa paixão pela comida e à nossa dedicação ao artesanato culinário.
            Aqui na Cavalieri Burguer, não somos apenas mais uma hamburgueria. Somos uma equipe apaixonada por criar
            experiências gastronômicas autênticas e memoráveis.
            Nossa jornada começou com um simples desejo: reinventar o clássico hambúrguer de rua, trazendo um toque de
            arte e sabor genuíno a cada mordida. Desde então, dedicamos horas intermináveis de experimentação na
            cozinha, buscando os ingredientes mais frescos e de qualidade superior para cada receita que servimos.
            Mas nossa história vai além dos hambúrgueres. Somos uma comunidade de amantes da comida, que valoriza a
            criatividade, a inovação e o compromisso com a excelência. Cada membro da nossa equipe traz consigo uma
            paixão única pela culinária, contribuindo para a diversidade de sabores que oferecemos em nosso cardápio.
            No coração da nossa filosofia está o respeito pela tradição e a celebração da culinária artesanal.
            Acreditamos em honrar as raízes do hambúrguer enquanto exploramos novas combinações de sabores e técnicas
            culinárias. Cada hambúrguer que servimos é uma homenagem à história do hambúrguer e à nossa visão de um
            futuro onde a comida é mais do que uma necessidade, é uma experiência para ser compartilhada e apreciada.
            Quando você nos visita, não está apenas saboreando um hambúrguer; está experimentando a essência da nossa
            paixão, o resultado de anos de dedicação e amor pela culinária. Agradecemos por fazer parte da nossa jornada
            e esperamos que cada mordida o transporte para um mundo de sabor e alegria.
            Bem-vindo à família Cavalieri Burguer.
        </p>
    </section>
</body>

</html>